*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.Google{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 30%;
}
  @media(max-width: 768px){
    .Google{
      width: 50%;
    }
  }
section{
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .main{
  width: 580px;
  margin: 0 20px;
  display: contents;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section .main .searchbx{
  position: relative;
  width: 100%;
  margin-top: 20px;
}
section .main .SearchBx .query{
  width: 100%;
  padding: 13px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  border-radius: 30px;
  padding-left: 18px;
  padding-right: 60px;
}
section .main .SearchBx .icons{
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  align-items: center;
  pointer-events: none;
  max-width: 100%;
}
.SearchBtn, .IamfeelingluckyBtn{
  margin: 0 5px;
  margin-top: 20px;
  padding: 8px 18px;
  color: #555;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  outline: none;
}
.SearchBtn:hover, .IamfeelingluckyBtn:hover{
  border: 1px solid blue;
}
.ISearchBtn{
  margin: 0 5px;
  margin-top: 20px;
  margin-left: 65px;
  padding: 8px 18px;
  color: #555;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  outline: none;
}
.ISearchBtn:hover{
  border: 1px solid #ccc;
}
a[href="Google_Image_Search.html"]{
  color: gray;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50px;
  right: 35px;
  text-decoration: none;
}
a[href="Google_Advanced_Search.html"]{
  color: gray;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 75px;
  right: 12px;
  text-decoration: none;
}
a[href="index.html"]{
  color: gray;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50px;
  right: 35px;
  text-decoration: none;
}
a:hover{
  color: red;
}