*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  min-height: 100%;
  position: relative;
  font-family: Arial, sans-serif;
}
form{
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}
.Google
{
  width: 6%;
}
@media(max-width:1056px){
  .Google{
    width: 15%;
  }
}
.appbar 
{
  color: #d93025;
  font-size: 20px;
  margin: 25px 35px;
  margin-left: 48px;
}
 select{

  text-align: left;
  float: right;
  min-width: 167px;
  min-height: 31px;
  vertical-align: middle;
  background-color: #e7e3e3;
  width: 98%;
  margin: 10px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
}
a:hover{
  text-decoration: underline;
}
a:visited{
  color: #0000EE ;
}
a[href="index.html"]{
  color: gray;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 30px;
  right: 35px;
  text-decoration: none;
}
div.heading {
  width: 100%;
  clear: both;
}
div.heading div.h1, div.more {
  display: inline-block;
  min-width: 167px;
  width: 16%;
  font-size: 18px;
  min-height: 46px;
  font-weight: 500;
  color: #333;
  vertical-align: middle;
}
div.heading div.gap {
  display: inline-block;
  min-width: 167px;
  min-height: 41px;
  vertical-align: middle;
  width: 50%;
}
div.heading div.extra {
  display: inline-block;
  width: 33%;
  font-size: 15px;
  font-weight: 700;
  color: #777;
  padding-left: 5px;
  vertical-align: middle;
}
div.text {
  height: 30px;
  display: table-cell;
  vertical-align: middle;
}
div.heading div.field {
  display: inline-block;
  min-width: 167px;
  width: 16%;
  height: 46px;
  color: #222;
  font-size: 15px;
  line-height: 16px;
  vertical-align: middle;
}
div.heading div.box {
  display: inline-block;
  min-width: 167px;
  min-height: 41px;
  vertical-align: middle;
  width: 50%;
}
div.heading div.ex1 {
  display: inline-block;
  width: 32%;
  min-width: 160px;
  margin: 0 0px 11px 1%;
  color: #555;
  font-size: 16px;
  padding-left: 5px;
  vertical-align: middle;
  position: relative;
}
div.heading div.ex1 span.ex3 {
  color: #666;
  font-family: monospace;
  font-size: 13px;
  white-space: pre;
}
div.box1 {
  padding-right: 16px;
}
div.heading div.box input[type="text"], div.heading div.box span.PnexQd {
  width: 100%;
  text-align: left;
}
div.form{
  max-width: 1140px;
  min-width: 200px;
  width: 96%;
  margin: 40px 2% 0 45px;
}
div{
  display: block;
}
.jfk-textinput {
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 16px;
  height: 33px;
  padding: 1px 8px;
}
@media(max-width:1056px){
  div.heading div.extra, div.heading div.ex1{
    display: none;
  }
}
input.dUBGpe {
  float: right;
  margin: 10px 0;
  padding: 0 12px;
}
.jfk-button-action {
  box-shadow: none;
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  border: 1px solid #3079ed;
  color: #fff;
}
.jfk-button {
  border-radius: 2px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}
div.line{
  margin: 18px 0;
  clear: both;
  border-top: 1px solid #ebebeb;
}
div.line1 {
  border-bottom: 1px solid #ebebeb;
}
div.foot1{
  background-color: #f2f2f2;
  height: 60px;
  padding: 24px;
  border-bottom: 1px solid #ccc;
}
div.foot1 span{
  color: #70757a;
  font-weight:500;
  padding: 10px;
  font-size: 16px;
}
div.foot2{
  background-color: #f2f2f2;
  height: 60px;
  padding: 24px;
}
div.foot2 a{
  color: #70757a;
  font-weight: 500;
  padding: 10px;
  font-size: 16px;
}