*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
header{
    color: black;
    padding: 24px;
    height: 64px;
    font-size:24px;
    text-align: left;
    justify-content: center;
    vertical-align: middle;
  }
  .appbar {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    margin-left: 48px;
  }
  